*{
    margin: 0;
    padding: 0; 
}


.cabeçalho{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 26px 0;
}
    

.cabeçalho-imagem{
    width: 10%;
}



.cabeçalho-lista-item{
    display: inline-block;
    padding: 0 16px;
    font-size: 24px;
}


.flora-imagem{
    width: 30%;
    padding: 0 200px
    
    
}


.flora{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.flora-titulo{
    padding: 0 480px;
    color: #4FB37C;
    width: 100%;
    ;
}

.escola-div-conteudo{
    width: 35%;
    align-items: center;

}

.texto-um{
    font-size: 150%;
    padding: 0 200px;
    text-align: center;

}

.texto-dois{
    font-size: 150%;
    padding: 0 200px;
    text-align: center;
    
}

.texto-tres{
    font-size: 150%;
    padding: 0 200px;
    text-align: center;
}

.imagem-romã{
    width: 25%;
    padding: 0 200px;
}

.texto-da-fruta{
    padding: 50px 250px;
    font-size: 200%;
    color: #4FB37C;
}