*{
    margin: 0;
    padding: 0; 
}


.cabeçalho{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 26px 0;
}
    

.cabeçalho-imagem{
    width: 10%;
}



.cabeçalho-lista-item{
    display: inline-block;
    padding: 0 16px;
    font-size: 24px;
}


.imagem-de-planta-dois{
    width: 30%;
}