*{
    margin: 0;
    padding: 0; 
}


.cabeçalho{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 26px 0;
}
    

.cabeçalho-imagem{
    width: 10%;
}



.cabeçalho-lista-item{
    display: inline-block;
    padding: 0 16px;
    font-size: 50px;
}



.flora{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.flora-titulo{
    padding: 0 1100px;
    color: #4FB37C;
    width: 200%;
    font-size: 300%;
;
}

.escola-div-conteudo{
    width: 35%;
    align-items: center;

}

.texto-um{
    font-size: 300%;
    padding: 0 200px;
    text-align: center;

}

.texto-dois{
    font-size: 300%;
    padding: 0 200px;
    text-align: center;
    
}

.texto-tres{
    font-size: 300%;
    padding: 0 200px;
    text-align: center;
}

.imagem-romã{
    width: 25%;
    padding: 0px 950px 

}

.texto-da-fruta{
    font-size: 300%;
    color: #4FB37C;
    text-align: center;
    margin: 50px;
}

.roma-texto{
    font-size: 300%;
    text-align: center;
    padding: 0 200px;
}

.imagem-lichia{
    width: 25%;
    padding: 0px 950px 

}

.texto-da-lichia{
    font-size: 300%;
    color: #4FB37C;
    text-align: center;
    margin: 50px;
    


}


.lichia-texto{
    font-size: 300%;
    padding: 0 200px;
    text-align: center;

}
 
.wikipedia-imagem{
    width: 5%;
    padding: 0px 1200px
}



